.containSlider{
    width: 100%;
    height: 600px;
    overflow: hidden;

    .slick-slider{
        height: 600px;
        display: flex;
        flex-direction: column;
        gap: 10px;

        .slick-list{
            width: 100%;
            height: 90%;
            display: flex;
            flex-direction: column;
            gap: 10px;

            .slick-track{
                height: 100%;
                height: 100%;
                background: $color3;
            }
        }
        .pokemon{
            background: rgb(230, 51, 51);
            height: 100%;
        }
        .onePunch{
            background: rgb(204, 192, 23);
            height: 400px;

        }
        .mandalorian{
            background: silver;
            height: 400px;

        }
        .onePiece{
            color: rgb(79, 47, 219);
            height: 400px;

        }
    }

    button{
        display: none;
        height: auto;
        width: auto;
        &::before{
            font-size: 30px;
            font-family: $tituloGeneral;
            font-weight: 700;
            color: $color3;
        }
    }
    .slick-dots{
        display: block;
        position: relative;
        background-color: aliceblue;
        height: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        bottom: 0;
        li{

            button {
                
                &::before {
                    position: absolute;
                    top: 0;
                    left: 0;
                    content: "";
                    width: 10px;
                    height: 10px;
                    background: $color3;
                    color: $color4;
                    border-radius: 50%;
                    font-family: "slick";
                    font-size: 6px;
                    line-height: 20px;
                    text-align: center;
                    opacity: 1;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                    transition: .5s;
                }
            }

            &.slick-active button:before {
                background: $color4;
        
            }
        }
    }

    // .slider{
    //     background: $color3;
    // }

}