.containSlider{
    width: 100%;
    height: 600px;
    overflow: hidden;

    .slick-slider{
        height: 600px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        align-content: center;
        gap: 10px;

        .slick-list{
            width: 100%;
            height: 90%;
            display: flex;
            flex-direction: column;
            gap: 10px;

            .slick-track{
                height: 100%;
                height: 100%;
                background: $color3;

                .slick-slide{
                    height: 100%;
                    width: 100%;
                    padding: 10px;

                    div{
                        width: 100%;
                        height: 100%;
                        padding: 10px;
                        background: rgb(235, 167, 155);

                        .sliderCaja{
                            height: 100%;
                            width: 100%;
                            overflow: hidden;
                            &.pokemon{
                                background: rgb(230, 51, 51);
                            }
                            &.onePunch{
                                background: rgb(204, 192, 23);
                            }
                            &.mandalorian{
                                background: silver;
                            }
                            &.onePiece{
                                color: rgb(79, 47, 219);
                            }
                            img{
                                height: 100%;
                                aspect-ratio: 21 / 9;
                            }
                        }
                    }

                }
                
            }
        }
        
    }

    button{
        display: none;
        height: auto;
        width: auto;
        &::before{
            font-size: 30px;
            font-family: $tituloGeneral;
            font-weight: 700;
            color: $color3;
        }
    }
    .slick-dots{
        position: relative;
        background-color: aliceblue;
        height: 10%;
        width: 100%;
        display: flex !important;
        justify-content: center;
        align-items: center;
        align-content: center;
        bottom: 0;

        li{
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;

            button {
                
                &::before {
                    position: absolute;
                    top: 0;
                    left: 0;
                    content: "";
                    width: 10px;
                    height: 10px;
                    top: calc(50% - 5px);
                    left: calc(50% - 5px);
                    background: $color3;
                    color: $color4;
                    border-radius: 50%;
                    font-family: "slick";
                    font-size: 6px;
                    line-height: 20px;
                    text-align: center;
                    opacity: 1;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                    transition: .5s;
                }
            }

            &.slick-active button:before {
                background: $color4;
        
            }
        }
    }

    // .slider{
    //     background: $color3;
    // }

}