.App{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    // font-display: fallback;

    .header, 
    .main, 
    .footer {
        position: relative;
        @include anchoGeneral();
    }

    .header {
        height: 130px;
    }
    .main{
        min-height: calc(100vh - 300px);
        height: auto;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }
    .footer{
        background: $color1b;
        min-height: 100px;
        height: auto;
    }
}
